# Ignore everything in the root directory...
/*

# ...except files beginning with a dot.
!.*

*.swp
.bash_history
.cache
.fontconfig
.gem
.irb_history
.lesshst
.ssh
.viminfo

# Mac-specific junk
.CFUserTextEncoding
.DS_Store
.finf
