[user]
    name = Scott Whittaker
[alias]
    ci = commit
    co = checkout
    br = branch
    fe = fetch --all --prune
    lg = log --pretty=format:'%C(yellow)%h %C(red)%d %Creset %s %C(cyan) %an' --graph
    pu = pull --rebase --prune
    st = status -sb
    sublog = submodule foreach git lg -n 10
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore.global
    filemode = false
[include]
    path = ~/.gitconfig.local
[pager]
    status = true
